# Server Port
PORT=3002

# JWT Secret for Authentication
JWT_SECRET= "0be46f48f6d8f00c8dc6081218657395dff06dd90c97dc594fe965a663f259eb6059f17a2edd4bea311d89ec33d43ff9a343a0590a8f93fbc7e46efd26565831"

# Database Connection for Prisma
# Format: postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE?schema=public
# Example for local development: postgresql://postgres:password@localhost:5432/kawaii_planner
# Example for Neon or other cloud providers: postgresql://username:password@hostname:port/database?sslmode=require
DATABASE_URL=postgresql://username:password@hostname:port/database?sslmode=require